* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark: rgb(60, 26, 76);
    --sub-light: rgb(151, 142, 142);
    --light: whitesmoke;
    --darker: rgb(29, 13, 37);
    --darker-light: rgba(0, 33, 182, 0.566);
    --darker-transparent: hsla(281, 49%, 10%, 0.712);
    --shadow: 0px 1px 5px white;
    --li-odd: rgb(108, 127, 133);
    --li-even: rgb(25, 114, 143);
    --ul-bg: rgba(13, 13, 46, 0.724)
}

body {
    background-color: var(--dark);
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    margin-top: 30vh;
    height: 70vh;
    flex-direction: column;
}

button {
    font-size: 2rem;
    padding: 15px;
    background-image: url(Images/btn-bg.avif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: -2px -2px black;
    border-radius: 12px;
    border: 2px solid lime;
}

button:hover {
    cursor: pointer;
}

h2 {
    color: var(--light);
    border-bottom: 2px dashed rgb(76, 167, 87);
}

span {
    margin-left: 100px;
    color: white;
    margin-bottom: 20px;
    margin-top: 5px;
}
