* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark: rgb(194, 194, 194);
    --sub-light: rgb(228, 196, 196);
    --light: rgb(236, 236, 236);
    --darker: rgb(83, 109, 224);
    --darker-light: rgba(163, 177, 239, 0.566);
    --darker-transparent: hsla(281, 49%, 10%, 0.712);
    --shadow: 0px 1px 5px black;
    --li-odd: rgb(108, 127, 133);
    --li-even: rgb(25, 114, 143);
    --ul-bg: rgba(13, 13, 46, 0.724)
}

body {
    background-color: var(--dark);
    font-family: 'Nunito', sans-serif;
}

.main-header {
    color: var(--light);
    width: 70%;
    text-wrap: nowrap;
}

.main-navbar a {
    color: var(--light);
    text-decoration: none;
}

.main-navbar {
    list-style: none;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
    gap: 20px;
    font-size: 18px;
    text-wrap: nowrap;
}

.main-navbar li:hover a {
    color: yellow;
    border-bottom: 2px solid rgb(10, 190, 10);
}

header {
    height: 12vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--darker);
    border-bottom: 1px solid var(--light);
    border-top: 1px solid var(--light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --dark: rgb(60, 26, 76);
        --sub-light: rgb(151, 142, 142);
        --light: whitesmoke;
        --darker: rgb(29, 13, 37);
        --darker-light: rgba(0, 33, 182, 0.566);
        --darker-transparent: hsla(281, 49%, 10%, 0.712);
        --shadow: 0px 1px 5px white;
        --li-odd: rgb(108, 127, 133);
        --li-even: rgb(25, 114, 143);
        --ul-bg: rgba(13, 13, 46, 0.724)
    }
}