.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 1;
}

.left-section {
	display: flex;
	align-items: center;
}

.middle-section {
	margin-left: 70px;
	display: flex;
	align-items: center;
	flex-direction: row;
	max-width: 500px;
	margin-right: 35px;
	flex: 1;
}

.search-button {
	height:  39.33px;
	width: 60px;
	background-color: rgb(240, 240, 240);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(192, 192, 192);
	margin-left: -1px;
	margin-right: 10px;
}

.voice-search-button {
	height: 40px;
	width: 40px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-radius: 20px;
	background-color: rgb(254, 248, 248);
}

.right-section {
	width: 180px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
	flex-shrink: 0;
}

.Menu {
	height: 25px;
	margin-left: 24px;
	margin-right: 20px;
}

.Yt-Logo {
	height: 20px;
}

.search-bar {
	height: 36px;
	flex: 1;
	padding-left: 10px;
	font-size: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(192, 192, 192);
	border-radius: 2px;
	box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
	width: 0;
}

.search-bar::placeholder {
	font-family: Roboto, Arial;
	font-size: 16px;
}

.search-icon {
	height: 25px;
	margin-top: 4px;
}

.voice-icon {
	margin-top: 4px;
}

.create-icon {
	height: 24px;
}

.menugrid-icon {
	height: 24px;
}

.notifications-icon {
	height: 24px;
}

.profile-icon {
	height: 32px;
	width: 32px;
	border-radius: 16px;
}
