.sidebar {
    position: fixed;
    top: 55px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    width: 72px;
    border-right-style: solid;
    border-right-color: rgb(228, 228, 228);
    border-right-width: 1px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    z-index: 1;
}

.home {
    width: 25px;
    margin-top: 20px;
}

.shorts {
    width: 35px;
}

.subs {
    width: 25px;
}

.library {
    width: 25px;
}

.t {
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 10px;
}